.bin/
.venv/
stickers/
__pycache__/
test/
parameters.py
dump
.DS_Store
.src/BOL_Picklijst.py
.src/Groothandel_sticker_Maker.py
.src/MisterMinit_bestand.py
.src/PostNL_Belgie_aanmaak.py
.src/VV_bestelling_stickers.py